html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: #041760;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header-section h2 {
    margin-left: 1rem;
    font-weight: bold;
}
.background-image {
    background-image: url("https://www.uq.edu.au/news/filething/get-styled/large/141199/EIAT%20medical%20hub.jpg?itok=7Cl9NwZ3");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 101%; 
    height: 100%; 
    position: absolute;
    top: 4.3rem;
    left: -0.1rem;
    filter: blur(2px); 
}
.main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 350px;
    background-color: rgba(0, 97, 112, 0.3);
    border-radius: 10px;
    box-shadow: 1px 2px 1px 8px rgba(0, 0, 0, 0.2);
}
.title-section {
    color: white;
    text-align: center; 
    position: absolute;
    width: 400px;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
}
.content-button {
    display: flex;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}
.content-button > :nth-child(2) {
    margin-left: 20px; 
}
.content-button button {
    width: 180px; 
    height: 180px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.content-button button:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #041760;
}
.content-button button p {
    color: #3559E0;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.content-button button img {
    width: 80px;
}
.content-button button a {
    text-decoration: none;
}



/*Media Query for all smartphone screen dimension*/
@media only screen and (max-width: 900px){
    .header-section h2{
        font-size: 18px;
        margin-top: 1.5rem;
    }
    .main-section{
        width: 250px;
        height: 380px;
    }
    .content-button{
        flex-direction: column;
        align-items: center;   
    }
    .content-button > :nth-child(2) {
        margin-left: 0px; 
    }
    .content-button button{
        width: 120px;
        height: 120px;
        margin-bottom: 1rem;
    }
    .content-button button img{
        width: 50px;

    }
    .title-section{
        font-size: 13px;
        width: 200px;
    }
}
/*Media Query for all smartphone screen rotation dimension*/
@media only screen and (max-height: 600px){
    .main-section{
        width: 450px;
        height: 230px;
        margin-top: 2rem;
    }
    .content-button{
        flex-direction: row;
        margin-top: 0.8rem;
    }
    .title-section{
        width: 400px;
    }
    .content-button > :nth-child(2) {
        margin-left: 20px; 
    }
}
