{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/homePageMedico.css' %}">
   
    <!--JQuery script-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   
    <!--Dynamic Css-->
    {% block css %}{% endblock %}

</head>
<body>
    <div class="header-section">
        <h2>LOGO E NOME</h2>
        <div class="other">
            <a href="" id="esci-btn">
                <img src="{% static 'style/img/homepage/logout.png' %}" alt="" width="40px" height="30px">
                <p>esci</p>
            </a>
        </div>
    </div>

    <div class="main-section">

        <div class="left-side-tools-bar">

            <a href="{% url 'nuovo-assistito' %}" id="nuovo-assistito-btn" >
                <img src="{% static 'style/img/homepage/add.png' %}" alt="">
                <p>Nuovo Assistito</p>
            </a>
            <a href="{% url 'archivio-pazienti' %}" id="archivio-pazienti-btn">
                <img src="{% static 'style/img/homepage/archiviobtn.png' %}" alt="">
                <p>Archivio Pazienti</p>
            </a>
            <a href="{% url 'elenco-referti' %}" id="elenco-referto-btn">
                <img src="{% static 'style/img/homepage/pdf.png' %}" alt="">
                <p>Elenco Referti</p>
            </a>
            <a href="{% url 'tabella-analisi' %}" id="tabella-analisi-btn">
                <img src="{% static 'style/img/homepage/analisibtn.png' %}" alt="">
                <p>Tabella Analisi</p>
            </a>
            <a href="{% url 'calendario-prenotazioni' %}" id="calendario-btn">
                <img src="{% static 'style/img/homepage/calendario.png' %}" alt="">
                <p>Calendario Prenotazioni</p>
            </a>
            <a href="{% url 'sincronizzazione' %}" id="sincronizzazione-btn">
                <img src="{% static 'style/img/homepage/sincronizzazione.png' %}" alt="">
                <p>Sincronizzazione</p>
            </a>
            
        </div>
            

        {% block main-content-section %}
            <div class="Home">
                <h1>Benvenuto nella sezione Home page, dott.</h1>
            </div>
        {% endblock %}
    </div>

    <!--Script for adatpe the left-side-btn text for small screen-->

    <script>
        $(document).ready(function () {
          function truncateText(elementId) {
            var screenWidth = $(window).width();
            var maxLength = screenWidth < 600 ? 10 : 15; 
    
            $('#' + elementId + ' p').each(function () {
              var text = $(this).text();
              if (text.length > maxLength) {
                $(this).text(text.substring(0, maxLength) + '...');
              }
            });
          }
          truncateText('sincronizzazione-btn');
          truncateText('configurazione-btn');
          $(window).resize(function () {
            truncateText('sincronizzazione-btn');
            truncateText('configurazione-btn');
          });
        });
    </script>
</body>
</html>