{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/homePageMedico.css' %}">
    <!--Dynamic Css-->
    {% block css %}{% endblock %}
</head>
<body>
    <div class="header-section">
    </div>

    <div class="main-section">

        <div class="left-side-tools-bar">
            <a href="{% url 'nuovo-assistito' %}" id="nuovo-assistito-btn" >
                <img src="{% static 'style/img/homepage/add.png' %}" alt="">
                <p>Nuovo Assistito</p>
            </a>
            <a href="{% url 'nuovo-assistito' %}" id="archivio-pazienti-btn">
                <img src="{% static 'style/img/homepage/archiviobtn.png' %}" alt="">
                <p>Archivio Pazienti</p>
            </a>
            <a href="{% url 'nuovo-assistito' %}" id="elenco-referto-btn">
                <img src="{% static 'style/img/homepage/pdf.png' %}" alt="">
                <p>Elenco Referti</p>
            </a>
            <a href="{% url 'nuovo-assistito' %}" id="tabella-analisi-btn">
                <img src="{% static 'style/img/homepage/analisibtn.png' %}" alt="">
                <p>Tabella Analisi</p>
            </a>
            <a href="{% url 'nuovo-assistito' %}" id="sincronizzazione-btn">
                <img src="{% static 'style/img/homepage/sincronizzazione.png' %}" alt="">
                <p>Sincronizzazione</p>
            </button>
            <a href="{% url 'nuovo-assistito' %}"id="configurazione-btn">
                <img src="{% static 'style/img/homepage/configurazione.png' %}" alt="">
                <p>Configurazione</p>
            </a>
            <a href="{% url 'nuovo-assistito' %}"id="esci-btn">
                <img src="{% static 'style/img/homepage/logout.png' %}" alt="">
                <p>Esci</p>
            </a>
        </div>

        {% block main-content-section %}{% endblock %}
    </div>
</body>
</html>