{% extends 'structure/homePageMedico.html' %}
{% load static %}

{% block title %}
    Calendario Prenotazioni
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style/calendario.css' %}">
{% endblock %}


{% block main-content-section %}
    <div class="main-content-section">
        <div class="header">
            <h2>CALENDARIO PRENOTAZIONI</h2>
        </div>

        <div class="Calendario">
            <div class="Calendario-tools">
                <p>Modifica Layout:</p>
                
                <select name="mese" id="meseSelect" onchange="showHideInput()">
                    <option value="1">mese</option>
                    <option value="2">giorno</option>
                    <option value="3">cerca giorno</option>
                </select>

                <div id="calendarFieldContainer" style="display: none;">
                    <label for="calendarField">Select a date:</label>
                    <input type="date" id="calendarField" name="calendarField">
                </div>

                <p id="filtro">Filtro orario:</p>
                <select name="orario" id="">
                    <option value="1">none</option>
                    <option value="2">- orario</option>
                    <option value="3">+ orario</option>
                </select>

                <p>Ricerca per nome:</p>
                <input class="ricerca" type="text" placeholder="inserisci il nome qui">
                <button class="ricerca-btn">🔍</button>
            </div>
        </div>

    </div>

    <script>
        function showHideInput() {
            var selectElement = document.getElementById("meseSelect");
            var calendarFieldContainer = document.getElementById("calendarFieldContainer");
    
            if (selectElement.value === "3") {
                calendarFieldContainer.style.display = "block";
            } else {
                calendarFieldContainer.style.display = "none";
            }
        }
    </script>
    
{% endblock %}