.main-content-section{
    width: 78%;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 2px 15px 10px rgba(57, 57, 57, 0.2);
    height: 1000px;
}
#archivio-pazienti-btn{
    background-color: #4CB9E7;
    width: 98%;
    border-radius: 5px 0px 0px 5px;
    color: white;
}
.ricerca{
    background-color: lightgrey;
    height: 100px;
    display: flex;
}
.barra-container{
    width: 72%;
    margin-left: 8%;
}
.barra-ricerca-input{
    border: 1px solid rgba(33, 33, 33, 0.4);
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 18px;
    width: 85%;
}
.barra-container button{
    height: 44px;
    width: 5%;
    margin-top: 30px;
    margin-left: -0.4rem;
}
.barra-container button:hover{
    cursor: pointer;
}
.barra-ricerca-input:active{
    outline: none;
}
.filtri{
    margin-top: 30px;
    width: 15%;
    display: flex;
    flex-direction: row;
}
.filtri select{
    height: 40px;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}
#myTable{
    width: 90%;
    height: 500px;
    margin: 5% 5% 5% 5%;
    border: 1px solid rgba(33, 33, 33, 0.4);
}
#myTable thead{
    background-color: #4CB9E7;
    height: 50px;
    font-size: 20px;
    color: rgb(57, 57, 57);
}
#tableBody{
    text-align: center;
}
#tableBody td{
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
}
#tableBody td button{
    border: none;
    background-color: white;
}
#tableBody td button:hover{
    cursor: pointer;
}

.Pagination{
    display: flex;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 30%;
    margin-left: 60%;
}
.pagination{
    display: flex;
    list-style-type: none;
    width: 60%;
}
.Pagination p{
    color: rgb(159, 159, 159);
    width: 20%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.pagination li{
    margin-left: 1rem;
    margin-right: 1rem;
}
.pagination li:hover{
    cursor: pointer;
    background-color: #4CB9E7;
}

.pagination li.active {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    background-color: #4CB9E7;
    text-align: center;
    width: 30px;
    height: 20px;
    color: white;
}



/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 600px;
}

.modal-content {
    padding: 20px;
}
.modal-content h2{
    color: blue;
}

/* Style to close the modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.check-button{
    display: flex;
    flex-direction: column;
}
.check-button label{
    color: #4CB9E7;
    width: 250px;
    margin-top: 1rem;
}
.esami{
    display: flex;
}