.main-content-section{
    width: 78%;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 2px 15px 10px rgba(57, 57, 57, 0.2);
    height: 1000px;
}
#calendario-btn{
    background-color: #4CB9E7;
    width: 98%;
    border-radius: 5px 0px 0px 5px;
    color: white;
}
.header{
    background-color: lightgrey;
    height: 100px;
    display: flex;
}
.header h2{
    color: rgb(83, 83, 83);
    margin-top: 2rem;
    margin-left: 5rem;
}
.Calendario-tools{
    display: flex;
    width: 90%;
    height: 60px;
    margin-left: 5%;
    margin-top: 2rem;
    border: 1px solid rgb(198, 198, 198, 0.5);
}
.Calendario-tools p{
    margin-top: 1.3rem;
    margin-left: 1rem;
    width: 9%;
}
.Calendario-tools select{
    height: 40px;
    margin-top: 10px;
    margin-right: 1rem;
    font-size: 16px;
    text-align: center;
    border: 1px solid #4CB9E7;
    border-radius: 5px;
    width: 10%;
}
#calendarFieldContainer{
    margin: 0.6rem;
    width: 20%;
}
#calendarFieldContainer input{
    height: 36px;
    border: 1px solid #4CB9E7;
    border-radius: 5px;
}
.ricerca{
    height: 36px;
    margin-top: 10px;
    width: 300px;
    width: 36%;
    border: 1px solid #4CB9E7;
    border-radius: 5px 0px 0px 5px;
}
.ricerca-btn{
    height: 40px;
    margin-top: 10px;
    width: 50px;
    border-radius: 0px 5px 5px 0px;
    border: 0.5px solid rgb(198, 198, 198, 0.5);
}
.ricerca-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#filtro{
    margin-right: -0.5rem;
}



