body{
    background-color: rgb(224, 224, 224);
}
.header-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 1px 2px 2px 1px rgba(57, 57, 57, 0.2);
}
.main-section{
    display: flex;
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: 100%;
}
.left-side-tools-bar{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 15%;
}
.left-side-tools-bar a{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(57, 57, 57, 0.2);
    background-color: white;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 5%;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 140px;
}
.left-side-tools-bar a img{
    margin-top: 1rem;
}
.left-side-tools-bar a:hover{
    cursor: pointer;
    background-color: orange;
}
