body{ 
    background-color: rgb(224, 224, 224);
}
.header-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #041760;
    box-shadow: 1px 2px 2px 1px rgba(57, 57, 57, 0.2);
    color: white;
    text-align: center;
    display: flex;
}
.header-section h2{
    position: absolute;
    left: 2rem;
}

/* Left side Section Style */
.main-section{
    display: flex;
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: 100%;
}
.left-side-tools-bar{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 15%;
}
.left-side-tools-bar a{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(57, 57, 57, 0.2);
    background-color: white;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 5%;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 140px;
}
.left-side-tools-bar a img{
    margin-top: 1rem;
}
.left-side-tools-bar a:hover{
    cursor: pointer;
    background-color: #4CB9E7;
    color: white;
}
.other{
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.other a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    background-color: #041760;
    height: 50px;
    width: 70px;
    border: none;
}
.other a p{
    margin-top: 0rem;
    text-align: center;
}
.other a:hover{
    cursor: pointer;
    background-color: #4CB9E7;
    
}


/* Main Content Section Style */
.section{
    width: 78%;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 2px 15px 10px rgba(57, 57, 57, 0.2);
}

.content-section{
    display: inline-block;
    width: 78%;
}
.benvenuto{
    height: 250px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 1px 2px 15px 10px rgba(57, 57, 57, 0.2);
    text-align: center;
    margin-top: 2.1rem;
}
.title{
    color: rgb(83, 83, 83);
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translate(0%, 50%);
}
.comunicazioni{
    width: 80%;
    margin-left: 10%;
    background-color: rgba(111, 9, 0, 0.2);
    border: 1px solid rgb(255, 0, 0);
}
.comunicazioni-header{
    display: flex;
    width: 40%;
    margin-left: 30%;
    margin-top: 1rem;
}
.comunicazioni-header img{
    margin-right: 2rem;
}
.comunicazioni-header p{
    color: red;
}
.content-comunicazioni{
    font-size: 20px;
    width: 50%;
    margin-left: 22%;
}



.Versione{
    display: flex;
}











/* Media Query for smartphones */
@media only screen and (max-width: 767px){
    .header-section h2{
        font-size: 20px;
        left: 0.5rem;
    }
    .other a{
        height: 30px;
        margin-top: -0.5rem;
        margin-right: -1rem;
    }
    .other a img{
        height: 25px;
        width: 35px;
    }

    .left-side-tools-bar a{
        height: 90px;
        font-size: 10px;
        margin-left: 5%;
    }
    .left-side-tools-bar a img{
        width: 35px;
        height: 35px;
    } 
    .header-section{
        height: 60px;
    }   
    .main-section{
        margin-top: -2rem;
    }
}

