body{ 
    background-color: rgb(224, 224, 224);
}
.header-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #041760;
    box-shadow: 1px 2px 2px 1px rgba(57, 57, 57, 0.2);
    color: white;
    text-align: center;
    display: flex;
}
.header-section h2{
    position: absolute;
    left: 2rem;
}
.main-section{
    display: flex;
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: 100%;
}
.left-side-tools-bar{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 15%;
}
.left-side-tools-bar a{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(57, 57, 57, 0.2);
    background-color: white;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 5%;
    text-decoration: none;
    color: black;
    text-align: center;
    height: 140px;
}
.left-side-tools-bar a img{
    margin-top: 1rem;
}
.left-side-tools-bar a:hover{
    cursor: pointer;
    background-color: #4CB9E7;
    color: white;
}

.other{
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.other a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    background-color: #041760;
    height: 50px;
    width: 70px;
    border: none;
}
.other a p{
    margin-top: 0rem;
    text-align: center;
}

.other a:hover{
    cursor: pointer;
    background-color: #4CB9E7;
    
}



/* Media Query for smartphones */
@media only screen and (max-width: 767px){
    .header-section h2{
        font-size: 20px;
        left: 0.5rem;
    }
    .other a{
        height: 30px;
        margin-top: -0.5rem;
        margin-right: -1rem;
    }
    .other a img{
        height: 25px;
        width: 35px;
    }

    .left-side-tools-bar a{
        height: 90px;
        font-size: 10px;
        margin-left: 5%;
    }
    .left-side-tools-bar a img{
        width: 35px;
        height: 35px;
    } 
    .header-section{
        height: 60px;
    }   
    .main-section{
        margin-top: -2rem;
    }
}

